<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2 class="px-3 mx-auto">
        <h1 class="px-1 mx-auto">プロフィールの編集</h1>
        <%= form_with model:@user, local:true do |f| %>
        <% if @user.errors.any? %>
        <%= @user.errors.count %>error
        <% @user.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
        <% end %>
        <h6>名前</h6>
        <%= f.text_field :name %>
        <h6>画像</h6>
        <%= f.attachment_field :profile_image %>
        <h6>紹介文</h6>
        <%= f.text_area :introduction %>
        <p></p>
        <%= f.submit '更新する', class: "btn btn-sm btn-success" %>
        <% end %>
    </div>
  </div>
</div>