<div class="container">
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2 class="px-3 mx-auto">

<h1>投稿の編集</h1>
<%= form_with model:@comic, local:true do |f| %>
  <% if @comic.errors.any? %>
  <%= @comic.errors.count %>error
  <% @comic.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

  <h6>タイトル</h6>
  <%= f.text_field :title %>
  <h6>画像</h6>
  <%= f.attachment_field :image %>
  <h6>説明</h6>
  <%= f.text_area :body %>
  <div id="evaluate_stars">
  <label>評価</label>
  </div>
<%= f.submit '編集を保存' %>

<%= link_to '詳細', @comic %> |
<%= link_to '戻る', comics_path %>
<% end %>

 <script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'comic[evaluation]'
  });
 </script>