<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'templates/user_info', user: @comic.user %>
    </div>
    
    
    
    <div class="col-md-8 offset-md-1">
      <%= form_with model:@comic, local:true do |f| %>
      <h1 class="px-2 mx-auto">新規投稿</h1>
      <h4>タイトル</h4>
      <%= f.text_field :title %>
      <h4>画像</h4>
      <%= f.attachment_field :image %>
      <h4>説明</h4>
      <%= f.text_area :body %>
      <div id="evaluate_stars">
      <label>評価</label>
      </div>
      <div class="actions">
      <%= f.submit '投稿する', class: "btn btn-sm btn-success" %>
      </div>
       <%= link_to '戻る', comics_path %>
      <% end %>
      
      
      <%= form_for [@comic, @envi] do |f| %>

 <%= f.hidden_field :ticket_id, value: @ticket.id %>
<div class="col-md-6 col-md-offset-3">

        <div class="field" id="star">
            <%= f.label :star %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>

         <%= f.text_area :impression, :class => "form-control", :size => "50x20"  %><br>
         <%= f.submit "レビュー評価", :class => "btn btn-primary" %>
      
      
      
      
      
      
      
      
      
      <script>
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'comic[evaluation]'
        });
      </script>
    </div>
  </div>
</div>