<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comic.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comic.user_id %>
</p>

<div>
<p>コメント件数：<%= @comic.post_comments.count %></p>
<% @comic.post_comments.each do |post_comment| %>
  <p><%= image_tag('sample-author1.jpg') %></p>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <div>
  <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<% if @comic.favorited_by?(current_user) %>
    <p>
      <%= link_to comic_favorites_path(@comic), method: :delete do %>
        ♥<%= @comic.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to comic_favorites_path(@comic), method: :post do %>
        ♡<%= @comic.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
<div>
<%= form_with(model:[@comic, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>


<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
